.inputs {
  width: 180px;
  height: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
}
.addForm {
  padding: 30px;
  margin-left: 35px;
  text-align: left;
}
.btnAdd {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-right: 8px;
}
.btnAdd:hover {
  background-color: rgb(68, 179, 151);
}
.btnCancel {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.btnCancel:hover {
  background-color: rgb(68, 179, 151);
}
