.btnSearch {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 25px;
  transition: all 0.3s ease;

}
.btnSearch:hover {
  background-color: rgb(68, 179, 151);
}
.btnCreate {
  background: black;
  color: white;
  padding: 10px 12px;
  border-radius: 25px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.btnCreate:hover {
  background-color: rgb(68, 179, 151);
}
.btnEdit {
  padding: 0px 12px;
}
.btnEdit:hover {
  background-color: black;
  color: white;
  cursor: pointer;  
}
.btnDelete:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.info {
margin-top: 10px;

}
