.app {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  background-color: rgb(68, 179, 151);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 20px;
  box-shadow: 1px 3px 7px rgb(192, 192, 192);
  font-size: 27px;
}
.page-body {
  display: flex;
  font-size: 18px;
}
.MuiSvgIcon-root {
  margin-left: 5px;
}
