.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
}
header {
  background-color: rgb(68, 179, 151);
  color: white;
  padding: 20px;
  box-shadow: 1px 3px 7px silver;
font-size: 1.5em;
}
.page-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex: 1;
}
aside {
  padding: 20px;
  background-color: rgb(219, 247, 245);
  box-shadow: 1px 3px 7px silver;
}
.main {
  text-align: center;
  padding: 20px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
}
a {
  display: block;
  padding: 15px;
  text-decoration: none;
  
}
.active{
  background-color:black;
  color: white;
}

a:hover:not(.active) {
  background-color: rgb(68, 179, 151);
  color: white;
}

.table {
  margin-top: 35px;
  border-collapse: collapse;
  box-shadow: 1px 3px 7px silver;
  
}
tr:nth-child(even) {
  background: rgb(219, 247, 245);
}
td,th {
  padding: 8px;
  border: 1px solid rgb(190, 182, 182);
}
th {
  background-color: black;
  color: white;
}
tr:hover {
  background-color: black;
  color: white;
}
