.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
  background: rgb(219, 247, 245);
  color: black;
  font-weight: bolder;
  padding: 20px;
  box-shadow: 1px 3px 7px silver;
  font-size: 27px;
 
  top: 0;
}
.page-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex: 1;
}
.list {
  padding: 20px;
  background-color: rgb(68, 179, 151);
  box-shadow: 1px 3px 7px silver;
  width: 110px;
  min-height: 100vh;
}
.main {
  text-align: center;
  padding: 20px;
}
ul {
  position: absolute;
  left: 0;
  top: 56px;
  padding: 0;
  width: 120px;
}
li {
  display: block;
}
li div {
  display: block;
  padding: 15px;
  background-color: rgb(68, 179, 151);
  width: 120px;
  height: 30px;
  
}
li div:hover {
  background-color: black;
}
li a,
li a:link,
li a:visited {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

li a.active,
li a.active:link,
li a.active:visited {
  color: white;
}
li a.active div {
  background-color: black;
}

.table {
  margin-top: 35px;
  border-collapse: collapse;
  box-shadow: 1px 3px 7px silver;
}
tr:nth-child(even) {
  background: rgb(219, 247, 245);
}
td,
th {
  padding: 8px;
  border: 1px solid rgb(190, 182, 182);
  font-size: 16px;
}
th {
  background-color: black;
  color: white;
}
tr:hover {
  background-color: rgb(68, 179, 151);
  color: white;

}
